In [153]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras.layers import Dense,Conv1D,LSTM,GRU,Flatten,MaxPooling2D,Conv2D
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition  import PCA
from sklearn.preprocessing import LabelEncoder

In [154]:
data = pd.read_csv("/kaggle/input/xdbfkjs-db/train.csv")
data.head(10)

,id,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,Stock_0000,2014-12-29 00:00:00+0530,8214.700195,8279.150391,8214.700195,8246.299805,82100,0.0,0.0
1,Stock_0001,2014-12-30 00:00:00+0530,8260.299805,8268.250000,8220.549805,8248.250000,77700,0.0,0.0
2,Stock_0002,2014-12-31 00:00:00+0530,8243.900391,8291.000000,8243.750000,8282.700195,84500,0.0,0.0
3,Stock_0003,2015-01-02 00:00:00+0530,8288.700195,8410.599609,8288.700195,8395.450195,101900,0.0,0.0
4,Stock_0004,2015-01-05 00:00:00+0530,8407.950195,8445.599609,8363.900391,8378.400391,118200,0.0,0.0
5,Stock_0005,2015-01-06 00:00:00+0530,8325.299805,8327.849609,8111.350098,8127.350098,172800,0.0,0.0
6,Stock_0006,2015-01-07 00:00:00+0530,8118.649902,8151.200195,8065.450195,8102.100098,164100,0.0,0.0
7,Stock_0007,2015-01-08 00:00:00+0530,8191.399902,8243.500000,8167.299805,8234.599609,143800,0.0,0.0
8,Stock_0008,2015-01-09 00:00:00+0530,8285.450195,8303.299805,8190.799805,8284.500000,148000,0.0,0.0
9,Stock_0009,2015-01-12 00:00:00+0530,8291.349609,8332.599609,8245.599609,8323.000000,103200,0.0,0.0

In [155]:
data["Open"] = data["Open"].astype("float32")
data

,id,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,Stock_0000,2014-12-29 00:00:00+0530,8214.700195,8279.150391,8214.700195,8246.299805,82100,0.0,0.0
1,Stock_0001,2014-12-30 00:00:00+0530,8260.299805,8268.250000,8220.549805,8248.250000,77700,0.0,0.0
2,Stock_0002,2014-12-31 00:00:00+0530,8243.900391,8291.000000,8243.750000,8282.700195,84500,0.0,0.0
3,Stock_0003,2015-01-02 00:00:00+0530,8288.700195,8410.599609,8288.700195,8395.450195,101900,0.0,0.0
4,Stock_0004,2015-01-05 00:00:00+0530,8407.950195,8445.599609,8363.900391,8378.400391,118200,0.0,0.0
...,...,...,...,...,...,...,...,...,...
1963,Stock_1963,2022-12-21 00:00:00+0530,18435.150391,18473.349609,18162.750000,18199.099609,187600,0.0,0.0
1964,Stock_1964,2022-12-22 00:00:00+0530,18288.800781,18318.750000,18068.599609,18127.349609,195700,0.0,0.0
1965,Stock_1965,2022-12-23 00:00:00+0530,17977.650391,18050.449219,17779.500000,17806.800781,221500,0.0,0.0
1966,Stock_1966,2022-12-26 00:00:00+0530,17830.400391,18084.099609,17774.250000,18014.599609,176700,0.0,0.0
1967,Stock_1967,2022-12-27 00:00:00+0530,18089.800781,18149.250000,17967.449219,18132.300781,214300,0.0,0.0

In [156]:
data.info

<bound method DataFrame.info of               id                      Date          Open          High  \
0     Stock_0000  2014-12-29 00:00:00+0530   8214.700195   8279.150391
1     Stock_0001  2014-12-30 00:00:00+0530   8260.299805   8268.250000
2     Stock_0002  2014-12-31 00:00:00+0530   8243.900391   8291.000000
3     Stock_0003  2015-01-02 00:00:00+0530   8288.700195   8410.599609
4     Stock_0004  2015-01-05 00:00:00+0530   8407.950195   8445.599609
...          ...                       ...           ...           ...
1963  Stock_1963  2022-12-21 00:00:00+0530  18435.150391  18473.349609
1964  Stock_1964  2022-12-22 00:00:00+0530  18288.800781  18318.750000
1965  Stock_1965  2022-12-23 00:00:00+0530  17977.650391  18050.449219
1966  Stock_1966  2022-12-26 00:00:00+0530  17830.400391  18084.099609
1967  Stock_1967  2022-12-27 00:00:00+0530  18089.800781  18149.250000

               Low         Close  Volume  Dividends  Stock Splits
0      8214.700195   8246.299805   82100        0.0           0.0
1      8220.549805   8248.250000   77700        0.0           0.0
2      8243.750000   8282.700195   84500        0.0           0.0
3      8288.700195   8395.450195  101900        0.0           0.0
4      8363.900391   8378.400391  118200        0.0           0.0
...            ...           ...     ...        ...           ...
1963  18162.750000  18199.099609  187600        0.0           0.0
1964  18068.599609  18127.349609  195700        0.0           0.0
1965  17779.500000  17806.800781  221500        0.0           0.0
1966  17774.250000  18014.599609  176700        0.0           0.0
1967  17967.449219  18132.300781  214300        0.0           0.0

[1968 rows x 9 columns]>

In [157]:
print(data.columns)
data.describe

Index(['id', 'Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits'],
      dtype='object')

<bound method NDFrame.describe of               id                      Date          Open          High  \
0     Stock_0000  2014-12-29 00:00:00+0530   8214.700195   8279.150391
1     Stock_0001  2014-12-30 00:00:00+0530   8260.299805   8268.250000
2     Stock_0002  2014-12-31 00:00:00+0530   8243.900391   8291.000000
3     Stock_0003  2015-01-02 00:00:00+0530   8288.700195   8410.599609
4     Stock_0004  2015-01-05 00:00:00+0530   8407.950195   8445.599609
...          ...                       ...           ...           ...
1963  Stock_1963  2022-12-21 00:00:00+0530  18435.150391  18473.349609
1964  Stock_1964  2022-12-22 00:00:00+0530  18288.800781  18318.750000
1965  Stock_1965  2022-12-23 00:00:00+0530  17977.650391  18050.449219
1966  Stock_1966  2022-12-26 00:00:00+0530  17830.400391  18084.099609
1967  Stock_1967  2022-12-27 00:00:00+0530  18089.800781  18149.250000

               Low         Close  Volume  Dividends  Stock Splits
0      8214.700195   8246.299805   82100        0.0           0.0
1      8220.549805   8248.250000   77700        0.0           0.0
2      8243.750000   8282.700195   84500        0.0           0.0
3      8288.700195   8395.450195  101900        0.0           0.0
4      8363.900391   8378.400391  118200        0.0           0.0
...            ...           ...     ...        ...           ...
1963  18162.750000  18199.099609  187600        0.0           0.0
1964  18068.599609  18127.349609  195700        0.0           0.0
1965  17779.500000  17806.800781  221500        0.0           0.0
1966  17774.250000  18014.599609  176700        0.0           0.0
1967  17967.449219  18132.300781  214300        0.0           0.0

[1968 rows x 9 columns]>

In [158]:
data.isnull().sum()

id              0
Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

In [159]:
x_data=data.drop("Open",axis=1)
y_data=data["Open"]

In [160]:
(x_train,x_test,y_train,y_test)=train_test_split(x_data,y_data,test_size=0.1,random_state=42)

In [161]:
def convertion_date(data):
    data["Date"]=pd.to_datetime(data["Date"])
    data["year"]=data["Date"].dt.year
    data["month"]=data["Date"].dt.month
    data["day"]=data["Date"].dt.day
    data=data.drop("Date",axis=1)
    return data

x_train=convertion_date(x_train)
x_test=convertion_date(x_test)

In [162]:
x_train.head(10)

,id,High,Low,Close,Volume,Dividends,Stock Splits,year,month,day
303,Stock_0303,7749.399902,7587.700195,7615.100098,242400,0.0,0.0,2016,3,28
1161,Stock_1161,11564.950195,11416.099609,11440.200195,629100,0.0,0.0,2019,9,25
1034,Stock_1034,11487.000000,11370.799805,11426.849609,463700,0.0,0.0,2019,3,15
1783,Stock_1783,17559.800781,17435.199219,17464.750000,281100,0.0,0.0,2022,3,31
1405,Stock_1405,11535.250000,11218.500000,11250.549805,602900,0.0,0.0,2020,9,21
585,Stock_0585,9498.650391,9427.900391,9438.250000,196800,0.0,0.0,2017,5,22
239,Stock_0239,7840.750000,7733.450195,7834.450195,126300,0.0,0.0,2015,12,21
1433,Stock_1433,11748.950195,11535.450195,11642.400391,553700,0.0,0.0,2020,10,30
1736,Stock_1736,17943.699219,17648.449219,17757.000000,258100,0.0,0.0,2022,1,20
986,Stock_0986,10741.049805,10628.650391,10727.349609,296600,0.0,0.0,2019,1,4

In [163]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(1771, 10)
(1771,)
(197, 10)
(197,)

In [164]:
y_train

303      7741.000000
1161    11564.849609
1034    11376.849609
1783    17519.199219
1405    11503.799805
            ...
1130    10958.099609
1294     9196.400391
860     10660.799805
1459    13458.099609
1126    11060.200195
Name: Open, Length: 1771, dtype: float32

In [165]:
def encoding(data):
    label_encoder = LabelEncoder()
    data['id'] = label_encoder.fit_transform(data['id'])
    return data
    
x_train=encoding(x_train)
x_test=encoding(x_test)

In [166]:
x_train.head(1000)

,id,High,Low,Close,Volume,Dividends,Stock Splits,year,month,day
303,272,7749.399902,7587.700195,7615.100098,242400,0.0,0.0,2016,3,28
1161,1045,11564.950195,11416.099609,11440.200195,629100,0.0,0.0,2019,9,25
1034,931,11487.000000,11370.799805,11426.849609,463700,0.0,0.0,2019,3,15
1783,1602,17559.800781,17435.199219,17464.750000,281100,0.0,0.0,2022,3,31
1405,1265,11535.250000,11218.500000,11250.549805,602900,0.0,0.0,2020,9,21
...,...,...,...,...,...,...,...,...,...,...
1301,1169,9296.900391,9141.299805,9154.400391,659400,0.0,0.0,2020,4,24
9,9,8332.599609,8245.599609,8323.000000,103200,0.0,0.0,2015,1,12
449,401,8549.500000,8504.849609,8514.000000,155300,0.0,0.0,2016,11,2
708,633,10232.250000,10139.200195,10214.750000,182600,0.0,0.0,2017,11,16
255,229,7604.799805,7443.799805,7536.799805,200800,0.0,0.0,2016,1,14

In [167]:
def new_features(data):
    data['Price Range'] = data['High'] - data['Low']
    data['Average Price'] = (data['High'] + data['Low']) / 2
    return data
x_train=new_features(x_train)
x_test=new_features(x_test)

In [168]:
y_test.value_counts()

Open
10822.900391    1
10808.700195    1
11865.200195    1
8393.950195     1
9422.200195     1
               ..
12172.900391    1
15026.750000    1
9245.799805     1
11959.849609    1
16870.550781    1
Name: count, Length: 197, dtype: int64

In [169]:
def standardize(data):
    standard=StandardScaler()
    data[["High","Close","Low"]]=standard.fit_transform(data[["High","Close","Low"]])
    return data
x_train=standardize(x_train)
x_test=standardize(x_test)

In [170]:
y_train=pd.DataFrame(y_train)
y_test=pd.DataFrame(y_test)

In [171]:
def standardize(data):
    standard=StandardScaler()
    data[["Open"]]=standard.fit_transform(data[["Open"]])
    return data

y_train=standardize(y_train)
y_test=standardize(y_test)

In [172]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras.layers import Dense,LSTM,Dropout,Conv2D,BatchNormalization,Flatten,Bidirectional,Reshape,GRU
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from tensorflow.keras.models import Sequential

In [173]:
def normie():
    model = Sequential([
        Dense(256, activation='relu', input_shape=(x_train.shape[1],), kernel_regularizer='l2'),
        Dropout(0.2),
        Dense(128, activation='relu', kernel_regularizer='l2'),
        BatchNormalization(),
        Dropout(0.2),
        Dense(64, activation='relu'),
        Dense(1, activation='linear')
    ])
    return model

In [174]:
'''def model_bi():
      model = Sequential()

      # First BiLSTM layer (return_sequences=True for stacking multiple layers)
      model.add(Bidirectional(LSTM(64, return_sequences=True), input_shape=(10, 1)))
      model.add(Dropout(0.3))

      # Second BiLSTM layer (return_sequences=True to pass the sequence to the next layer)
      model.add(Bidirectional(LSTM(64, return_sequences=True)))
      model.add(Dropout(0.3))

      # Final BiLSTM layer (return_sequences=False to output final sequence representation)
      model.add(Bidirectional(LSTM(64, return_sequences=False)))
      model.add(Dropout(0.3))

      model.add(Dense(64, activation="relu"))

      model.add(Dense(3, activation="softmax"))
      return model'''

'def model_bi():\n      model = Sequential()\n\n      # First BiLSTM layer (return_sequences=True for stacking multiple layers)\n      model.add(Bidirectional(LSTM(64, return_sequences=True), input_shape=(10, 1)))\n      model.add(Dropout(0.3))\n\n      # Second BiLSTM layer (return_sequences=True to pass the sequence to the next layer)\n      model.add(Bidirectional(LSTM(64, return_sequences=True)))\n      model.add(Dropout(0.3))\n\n      # Final BiLSTM layer (return_sequences=False to output final sequence representation)\n      model.add(Bidirectional(LSTM(64, return_sequences=False)))\n      model.add(Dropout(0.3))\n\n      model.add(Dense(64, activation="relu"))\n\n      model.add(Dense(3, activation="softmax"))\n      return model'

In [175]:
model = normie()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [176]:
model.compile(loss="mse",optimizer="adam",metrics=["mse"])

In [177]:
model.fit(x_train,y_train,epochs=20,validation_data=(x_test,y_test))

Epoch 1/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3.3691 - mse: 1.7393 - val_loss: 2.7035 - val_mse: 1.6811
Epoch 2/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.8391 - mse: 0.9051 - val_loss: 2.2230 - val_mse: 1.4597
Epoch 3/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.5512 - mse: 0.8120 - val_loss: 1.4189 - val_mse: 0.7276
Epoch 4/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.3189 - mse: 0.6333 - val_loss: 1.5918 - val_mse: 0.9188
Epoch 5/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1479 - mse: 0.4813 - val_loss: 1.0733 - val_mse: 0.4309
Epoch 6/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.0869 - mse: 0.4527 - val_loss: 0.8530 - val_mse: 0.2503
Epoch 7/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.9565 - mse: 0.3631 - val_loss: 0.7195 - val_mse: 0.1568
Epoch 8/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.8796 - mse: 0.3259 - val_loss: 0.7181 - val_mse: 0.1924
Epoch 9/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.8213 - mse: 0.3034 - val_loss: 0.6297 - val_mse: 0.1373
Epoch 10/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.7739 - mse: 0.2892 - val_loss: 0.6050 - val_mse: 0.1445
Epoch 11/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.7530 - mse: 0.2991 - val_loss: 0.7413 - val_mse: 0.3095
Epoch 12/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.6565 - mse: 0.2305 - val_loss: 0.6662 - val_mse: 0.2603
Epoch 13/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.6187 - mse: 0.2186 - val_loss: 0.6222 - val_mse: 0.2408
Epoch 14/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.6153 - mse: 0.2387 - val_loss: 0.4505 - val_mse: 0.0902
Epoch 15/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.6264 - mse: 0.2698 - val_loss: 0.6324 - val_mse: 0.2863
Epoch 16/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.5366 - mse: 0.1957 - val_loss: 0.4889 - val_mse: 0.1622
Epoch 17/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.5224 - mse: 0.2010 - val_loss: 0.5734 - val_mse: 0.2656
Epoch 18/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.5038 - mse: 0.2004 - val_loss: 62.1442 - val_mse: 61.8519
Epoch 19/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.4864 - mse: 0.1968 - val_loss: 0.7537 - val_mse: 0.4719
Epoch 20/20
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.4801 - mse: 0.2022 - val_loss: 0.6281 - val_mse: 0.3620

In [179]:
test_data = pd.read_csv("/kaggle/input/xdbfkjs-db/test.csv")


def preprocess_test_data(data):

    data = convertion_date(data)
    
    
    data = encoding(data)


    data = new_features(data)
    
 
    standard = StandardScaler()
    data[["High", "Close", "Low"]] = standard.fit_transform(data[["High", "Close", "Low"]])
    
    return data


x_test_processed = preprocess_test_data(test_data)

predictions = model.predict(x_test_processed)

scaler = StandardScaler()
scaler.fit(data[['Open']]) 
predictions_original_scale = scaler.inverse_transform(predictions)


submission = pd.DataFrame({
    'id': test_data['id'],  
    'Open': predictions_original_scale.flatten()  
})


submission.to_csv('submission.csv', index=False)

print("Submission file created successfully!")

16/16 ━━━━━━━━━━━━━━━━━━━━ 1s 33ms/step
Submission file created successfully!

In [180]:
submission=pd.read_csv("/kaggle/working/submission.csv")

In [ ]:
submission.head()